@font-face{
	font-family: 'FuturaHandwritten';
	font-style: normal;
	src: url('FuturaHandwritten.ttf') format('truetype');
}
body{
	margin: 0;

	font-family: 'FuturaHandwritten';
	font-size: 22px;
	font-weight: 100;
	line-height: 1.7em;
}
pre{
	font-size: 15px;
	line-height: 1.2em;
}

#content{
	width: 1000px;
	height: 540px;
	position: relative;
	margin: 20px auto;
}
#words{
	margin: 0 auto;
	width: 800px;
	padding-top: 0px;
	padding-bottom: 100px; 
}
#words p{
	width:640px;
	margin: 0 auto;
	margin-bottom: 1em;
	text-align: justify;
}
#words ul{
	width:600px;
	margin: 0 auto;
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
	margin-bottom: 1em;
}
#words ul > li{
	list-style-type: none;
}
#words b{
	font-weight: normal;
	text-shadow: 1px 0 0 currentColor;
}
#words pre{
	margin-bottom: 2em;
}
#words .demo{
	margin: 0 auto;
	width: 640px;
	height: 100px;
	border: 2px solid #ddd;
	margin-bottom: 1em;
	overflow: hidden;
	font-size: 20px;
}
#words .demo > div:nth-child(1){
	width:320px;
	height:100px;
	float:left;
}
#words .demo > div:nth-child(2){
	width:320px;
	height:100px;
	float:left;
	background: #eee;
}

#container{
	width: 1000px;
	height: 500px;
	background: #fff;
	border: 2px solid #ddd;
}
#player{
	width:500px;
	height:500px;
	float:left;
}
#editor{
	width:500px;
	height:500px;
	float:left;
	background: #eee;

	overflow-x: hidden;
	overflow-y: scroll;
}
#editor hr{
	border: none;
	border-bottom: 2px dashed #ccc;
	margin: 1.5em 0;
}

.cursor-grab{
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: -ms-grab;
	cursor: grab;
}
.cursor-grabbing{
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: -ms-grabbing;
	cursor: grabbing;
}
